*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.orange {
    background-color: rgb(255,105,0);
}

footer {
    background-color: rgb(26,26,26)    ;
}

/* allineamenti */

.flex {
    display: flex;
}

.jstf-spcbtwn {
    justify-content: space-between;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fix {
    position: fixed;
    top:0;
    left: 0;
    right:0;
}

.block {
    display: block;
}

.z1 {
    z-index: 1;
}

/* dimensioni */

.wdth-70 {
    width: 70%;
}

.wdth-100{
    width: 100%;
}

.card-size {
    width: 32%;
}

.h30 {
    height: 30px;
}

/* margini e padding */

.padd-bot20 {
    padding-bottom: 20px;
}

.padd-bot30 {
    padding-bottom: 30px;
}

.padd-top30 {
    padding-top: 30px;
}

.padd-top20 {
    padding-top: 20px;
}

.mr0auto {
    margin: 0 auto;
}

.mr-t70 {
    margin-top: 70px;
}

.mr-t150 {
    margin-top: 150px;
}

.mr-b70 {
    margin-bottom: 70px;
}

.mr-bot10 {
    margin-bottom: 10px;
}

.mr-l5 {
    margin-left: 5px;
}

.mr-r5 {
    margin-right: 5px;
}

/* testo */
.txt-deco-none {
    text-decoration: none;
}

.font13 {
    font-size: 13px;
}

.font18 {
    font-size: 18px;
}
.font22 {
font-size: 22px;
}

.font35 {
    font-size: 35px;
}

.txt-white {
    color: white;
}

.txt-red {
    color: red;
}

.font-bold {
    font-weight: bold;
}

/* pecette */

.box {
    padding: 5px 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: rgb(0,128,0);
}

.white {
    background-color: white;
}

.bott-left {
    bottom: 5%;
    left: 0;
}

.top-right {
    top : 3%;
    right: 0%;
}

.d-none {
    display: none;
}

.card-size:hover img {
    display: none;
}

.card-size:hover img.d-none {
    display: block;
}

.heart:hover {
    color: red;
}